<div *ngIf="searchText">
  <app-tag></app-tag>
  <app-video></app-video>
</div>

<div *ngIf="!searchText">
<div class='col-xs-10 col-xs-offset-1 pad'>
  <input (input)="onKey($event)" (paste)="onPaste($event)"
         placeholder='Paste an YouTube link here' class='form-control'>
</div>

<div *ngIf="youtubeId" class="col-xs-10 col-xs-offset-1">
  <div class='form-group'>
    <label for="artist">Artist Name</label>
    <select2 [data]="artists" [cssImport]=true
             [options]="select2Options"
             [width]="'100%'"
             (valueChanged)="changed($event)"
             [value]="selectedArtist" id="artist"
    >
    </select2>
    <br>
    <div class='form-group'>
      <label for='title'>Title</label>
      <input type='text' class='form-control' id='title' [(ngModel)]="title"></div>
    <div #container>
      <ngx-y2-player
        #video
        [playerOptions]="playerOptions"
        (ready)="getTitleAndDuration()"
        [container]="container">
      </ngx-y2-player>
    </div>
    <button *ngIf="youtubeId && selectedArtist" type='button' class='btn btn-primary center-block' (click)="addVideo()">
      Add Music Video
    </button>
    <span class="text-center"> {{errors}} </span>
  </div>
</div>

