<nav class="navbar navbar-dark" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <a class="navbar-brand" href="#">
      <img routerLink="/" src="assets/logo.svg" alt="logo" style="width: 200px; height: 200px">
    </a>
    <ul class="nav navbar-nav navbar-center">
      <li><a routerLink="/tags" routerLinkActive="active">TAGS</a></li>
      <li><a routerLink="/videos" routerLinkActive="active">MUSIC VIDEOS</a></li>
      <li><a routerLink="/add" routerLinkActive="active">ADD MUSIC VIDEO</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/about" routerLinkActive="active">ABOUT</a></li>
      <li><a style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()"><span
        class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
      <li><a routerLink="/login" *ngIf="!_authService.loggedIn()"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a>
      </li>
    </ul>
  </div>
  <div class='container' style="padding-bottom: 20px">
    <div class="input-group">
    			<span class="input-group-addon" style="background-color: #292929; color: white;">
            <i class="glyphicon glyphicon-search"></i>
        </span>
      <input (input)="updateValue($event)" class="form-control input-lg"
             id='search_input'>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div id='result'>
      <router-outlet></router-outlet>
    </div>
    <div id='result2'></div>
  </div>
  <div class='row'></div>
</div>

<footer class="container-fluid"></footer>
