<!--<nav class="navbar navbar-expand-lg navbar-dark">-->
<!--  <a class="navbar-brand" href="#">-->
<!--    <img src="assets/logo.svg" alt="logo" width="100" height="100" class="d-inline-block align-top">-->
<!--  </a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav nav-fill w-100">-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="/tags" routerLinkActive="active">tags</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="/videos" routerLinkActive="active">music videos</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--          <input (input)="updateValue($event)" class="form-control mr-sm-2" id='search_input'-->
<!--                 type="search" placeholder="Search" aria-label="Search"-->
<!--          style="background-color: #21252C; color: #999CA3;"-->
<!--          >-->
<!--        </form>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="/add" routerLinkActive="active">add music video</a>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="/about" routerLinkActive="active">about</a>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()"><span-->
<!--        class="glyphicon glyphicon-log-out"></span> logout</a>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="/login" *ngIf="!_authService.loggedIn()"><span class="glyphicon glyphicon-log-in"></span>login</a>-->
<!--      </li>-->

<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.svg" alt="" width="100" height="100" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
<!--    <div id='result'>-->
      <router-outlet></router-outlet>
<!--    </div>-->
<!--    <div id='result2'></div>-->
<!--  </div>-->
<!--  <div class='row'></div>-->
</div>

<footer class="container-fluid"></footer>
