<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<base href="{{SERVER}}" />
	{% block stylesheets %}

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
				<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
				<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css'>
				<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
				<link rel="stylesheet" href="/screen.css" />
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	{% endblock %}
    <title>Culture Vein</title>

</head>

<body>
	
<nav class='navbar navbar-default center white_container'>
	<div class='container-fluid'>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
				<a href="/" class='navbar-brand center'>Culture Vein</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
				<ul class='nav nav-pills nav-justified'>
						<li id='nav_tag'><a href="/tag">TAG</a></li>
						<li id='nav_video'><a href="/music-video">MUSIC VIDEO</a></li>
						<li id='nav_dodaj'><a href="/add">ADD</a></li>
						<li id='nav_links'><a href="/links">LINKS</a></li>
						<li id='nav_about'><a href="/about">ABOUT</a></li>
						<li><a href="https://www.facebook.com/CultureVein"><span class="fa fa-facebook-official" style="font-size:30px"></span></a></li>
						{% if session.valid %}
						<li><a href="/login/logout.php"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						{% else %}
						<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						{% endif %}
				</ul>
				</div>
	</div>
<div class='container'>
    <div class="input-group">
			<span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
      <input type="text" class="form-control input-lg" id='search_input'>
      {% block medium_select %}{% endblock %}
    </div><!-- /input-group -->
</div><!-- container -->
</nav><!-- container navbar navbar-default navbar-fixed-top center --> 


<div class="container">
<div class="row">
		<div id='result'>{% block result %} {% endblock %}</div>
		<div id='result2'>{% block result2 %} {% endblock %}</div>	
</div><!-- end-row -->
<div class='row'>
{% block result3 %} {% endblock %}</div>
</div><!-- row -->
</div><!-- container -->

<footer class="container-fluid"></footer>
{% block search %} 
<script>



</script>
{% endblock %}
<script type="text/javascript"
                    id="cookieinfo"
                    src="//cookieinfoscript.com/js/cookieinfo.min.js"
                    data-message="This website uses cookies."
                    data-linkmsg="Read more"
                    data-position="bottom"
                    data-close-text="I Understand">
            </script>
{% block javascript %} {% endblock %}
</body>
</html>


