.btn-default {
    background-color: #474b51;
}

#myNavbar {
    margin-bottom: 10px;
}

.navbar-default .navbar-brand  {
    color:#CE2227;
}

/********************  SCENY I TAGI    ************************/
#DIV_tag {
    overflow: auto;
    padding-bottom: 1em;
}

/********************  TAGI    ************************/
.tag li {
    list-style-type:none;
    float:left;
    margin-top: 10px; /* Odstęp pomiędzy tagami pionowo */
    margin-right: 10px; /* Odstęp pomiędzy tagami poziomo */
    padding-left:5px;
    padding-right:5px;
}
.tag li ol {
    display: none;
    position: absolute;
    padding: 0px;
    list-style-position: inside;
    margin-bottom: 2px;
}
.tag li:hover > ol {
    display: block;
    background-color: white;
    border: 1px solid black;
    float: left;
    z-index:4;
    color:black;
}

.tag li > ol li{ /* Sceny poszczególnych tagów */
    float: none;
    overflow: visible;
    background-color: white;
    border: none;
    margin: 5px 5px 5px 5px;
    list-style-type:decimal;
}

.tag li > ol li a{ /* Sceny poszczególnych tagów */
  background-color: transparent !important;
  color: white !important;
}

.tag ul {
    margin-left:0px;
}



