<div class="col-xs-8 col-xs-offset-2">

    <div #container>
    <ngx-y2-player
    #video
    [playerOptions]="playerOptions"
    [container]="container"
    >
    </ngx-y2-player>
    </div>

    <div id="DIV_scene_tag" class="white_container">
        <h4>{{ videoInfo?.artist_name}} - {{ videoInfo?.name }}</h4>


        <div id="DIV_tag">
            <ul class="tag">
                <li *ngFor="let tag of videoTags"
                    [ngClass]="tagStyle(tag)">
                    <a [routerLink]="['/tags', tag.slug]" style="color:white"> {{ tag.name }} </a>
                    <ol>
                        <li *ngFor="let time of tag.times"
                            style="cursor:pointer">
                            <a (click)="playPart(time.start, time.stop)">{{ time.start |minuteSeconds }} - {{ time.stop
                                |minuteSeconds }}</a>
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
            <div>
                <select2  [cssImport]=true [options]="select2Options" [width]="'50%'" (valueChanged)="changed($event)" [value]="selectedValue" >
                    <option></option>
                    <option *ngFor="let tag of tags"> {{ tag.name }}</option>
                </select2>
            </div>
        <br>

            <div *ngIf="isSelect2ChangedValue && isTagVideoAlreadyExistWithNoTime == false">
                Can you set exposure time?
                <button type='button' class='btn btn-success center-block' (click)="setExposureTime(true)">Yes</button>
                <br>
                <button type='button' class='btn btn-danger center-block' (click)="setExposureTime(false)">No</button>
                <br>
            </div>

            <div *ngIf="isExposureTime || isTagVideoAlreadyExistWithNoTime">
                <div> Start {{ rangeValues[0] | minuteSeconds }} End {{ rangeValues[1] | minuteSeconds }}</div>
                <p-slider [(ngModel)]="rangeValues" [range]="true" [max]="videoInfo?.duration" ></p-slider>
                <br>
                <button type='button' class='btn btn-primary center-block'> Test </button>
                <br>
                <button type='button' class='btn btn-primary center-block' (click)='addTag()'>Add TAG </button>
            </div>

        <button *ngIf="isExposureTime == false" type='button' class='btn btn-primary center-block' (click)='addTag()'>Add TAG </button>

        <p *ngIf="tagWasAddedText">Great! Tag was added</p>

    </div>
</div>