<div class="col-xs-12">

  <div #container>
    <ngx-y2-player
      #video
      [playerOptions]="playerOptions"
      [container]="container">
    </ngx-y2-player>
  </div>

  <div id="DIV_scene_tag" class="white_container">
    <h4><a [routerLink]="['/artists', videoInfo?.artist_slug]" *ngIf="videoInfo">{{ videoInfo?.artist_name}}</a>
      - {{ videoInfo?.video_name }}</h4>
    <h4><a [routerLink]="['/videos', videoInfo?.video_youtube_id, 'edit']" *ngIf="videoInfo">edit</a></h4>
    <div id="DIV_tag">
      <ul class="tag">
        <li *ngFor="let tag of videoTags"
            [ngClass]="tagStyle(tag)">

          <a [routerLink]="['/tags', tag.tag_slug_id]" style="color:white">{{ tag.tag_name }} </a>

          <ol *ngIf="tag.video_tags_time">
            <li *ngFor="let video_tag_time of tag.video_tags_time">
              <a (click)="playPart(video_tag_time.start, video_tag_time.stop)" style="cursor:pointer">{{
                video_tag_time.start |minuteSeconds }} - {{ video_tag_time.stop |minuteSeconds }} </a>
            </li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
</div>
