{{ errorMsg }}
<div class='col-xs-12 num_of_rows'>{{ getVideosCount(videos |filterVideos : searchText) }}
  <strong>MUSIC VIDEOS</strong>
</div>
<div class="col-xs-12 white_container">

  <ul class='list-unstyled'>
    <li *ngFor="let artist of videos |filterVideos : searchText">
      <a [routerLink]="['/artists', artist.slug]"
         [innerHTML]="highlight(searchText, artist.name)">
      </a>
      <ul>
        <li *ngFor="let video of artist.videos" >
          <a [routerLink]="['/videos', video.youtube_id]"
             [innerHTML]="highlight(searchText, video.name)">
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>



