{{ errorMsg }}
<div class='col-xs-12'>
  <div class="checkboxes">
    <label>
      <input type="checkbox" [(ngModel)]="isRelations" (change)="getTags()"> relations
    </label> <br>
    <label>
      <input type="checkbox" [(ngModel)]="showNumberOfVideos"> show number of videos
    </label> <br>
    <label>
      <input type="checkbox" [(ngModel)]="showCreatedAt"> show created at
    </label> <br>
    <label>
      <input type="checkbox" [(ngModel)]="isSortByNumberOfVideos"
             (change)="getTags()"> sort by number of videos
    </label>
  </div>
</div>

<div class='col-xs-12 num_of_rows'>{{ getTagsCount(tags |filterTags : searchText) }} <strong>TAGS</strong></div>
<div class="col-xs-12">
  <ul class='list-break-to-columns list-unstyled'>
    <li *ngFor="let tag of tags |filterTags : searchText">
      <span *ngIf="showNumberOfVideos"> {{ tag.count}} </span>
      <span *ngIf="showCreatedAt"> {{ tag.created_at| date:'short' }} </span>
      <a [routerLink]="['/tags', tag.tag_slug_id]"
         [innerHTML]="highlight(searchText, tag.tag_name)">
      </a>
      <ul *ngIf="tag.children?.length > 0">
        <li *ngFor="let tag of tag.children">
          <span *ngIf="showNumberOfVideos"> {{ tag.count}} </span>
          <a [routerLink]="['/tags', tag.tag_slug_id]"
             [innerHTML]="highlight(searchText, tag.tag_name)">
          </a>
          <ul *ngIf="tag.children?.length > 0">
            <li *ngFor="let tag of tag.children">
              <span *ngIf="showNumberOfVideos"> {{ tag.count}} </span>
              <a [routerLink]="['/tags', tag.tag_slug_id]"
                 [innerHTML]="highlight(searchText, tag.tag_name)">
              </a>
              <ul *ngIf="tag.children?.length > 0">
                <li *ngFor="let tag of tag.children">
                  <span *ngIf="showNumberOfVideos"> {{ tag.count}} </span>
                  <a [routerLink]="['/tags', tag.tag_slug_id]"
                     [innerHTML]="highlight(searchText, tag.tag_name)">
                  </a>
              </ul>
          </ul>
      </ul>
    </li>
  </ul>
</div>
