body {
  margin-bottom: 60px;
  background-color: #292929;
  color: white;
}

.logo {
  color: #d9534f!important;
}

caption {
  color: white;
}

* {
  border-color: #555!important;
}

.num_of_rows {
    padding-left:0;
}

.highlight {
    background-color:  green;
    color:  white;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent !important;
}

a {
  color: #8db2e5;
}

a:hover {
  color: #d9534f;
}

.active {
  color: #d9534f!important;
}

.form-control {
  background-color: #292929;
  color: white
}

.select2-selection__rendered {
  background-color: #292929; /* pierwzy kolor jak patrzysz na select */
}

.select2-search__field{
  background-color: #292929; /* select po kliknięciu*/
}

.select2-search--dropdown{
  background-color: #292929; /* otoczka przy wyborze */
}

.select2-results {
  background-color: #292929;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: white!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: white!important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #d9534f!important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: green!important;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #d9534f!important;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.list-break-to-columns {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

@media only screen and (min-width: 400px) {
  .list-break-to-columns  {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 700px) {
  .list-break-to-columns  {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
