body {
  margin-bottom: 60px;
  background-color: #292929;
  color: white;
}

caption {
  color: white;
}

* {
  border-color: #555!important;
}

.num_of_rows {
    padding-left:0;
}

.highlight {
    background-color:  green;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent !important;
}

a {
  color: #8db2e5;
}

.form-control {
  background-color: #292929;
  color: white
}

.select2-container--default .select2-selection--single{
  background-color: #000;
}

.select2-selection__rendered {
  background-color: #000;
}

.select2-search--dropdown{
  background-color: #000;
}
.select2-search__field{
  background-color: #000;
}

.select2-results {
  background-color: #000;
}


