{% extends 'templates/default.twig' %}

{% block stylesheets %}
{{ parent () }}
<style>
.table th {
    text-align:center;
}
</style>
{% endblock %}


{% block result %}
    {% if msg %}
        <div class="alert alert-success text-center">
            {{ msg }}
        </div>
    {%  endif %}
    <div id="result_index"> </div>
    <div id="result_index2"> </div>

{% endblock %}

{% block javascript %}
    <script>

        $('#search_input').bind('input paste', search);

        function search(input) {
            input = document.getElementById("search_input").value;

            if (input === "") {
                $.ajax({
                    type: "POST",
                    url: 'get/get_list_index.php',
                    success: function (msg) {
                        document.getElementById("result_index").innerHTML = msg;
                        document.getElementById("result_index2").innerHTML = "";
                    }
                });

            } else {
                $.ajax({
                    type: "POST",
                    url: 'get/get_list_tag.php?q=' + input,
                    success: function (msg) {
                        document.getElementById("result_index").innerHTML = msg;
                    }
                });

                $.ajax({
                    type     : "POST",
                    url      : 'get/get_list_music_video.php?q='+ input,
                    success : function(msg) {
                        document.getElementById("result_index2").innerHTML = msg;


                    }});

            }
        }


search("");
    </script>

{% endblock %}

			
		